@tailwind base;
@tailwind components;
@tailwind utilities;

/* are you actually using tailwind when you work like this? */

:root {
  /* --tw-bg-opacity: 1; */
  background-color: rgb(206 213 211);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/*
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
  */

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*  border shows where the element is
  border: 3px solid limegreen;*/
}

/* use a single grid template area to set up from children to be stacked */
.header {
  display: grid;
  place-items: center;
  /*border: 3px solid limegreen;*/
}

.columns {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-auto-flow: column;
}

.column1,
.column2 {
  display: grid;
  padding: 1rem;
  /* border: 3px solid limegreen; */
  max-height: 60vh;
}

.column1 {
  display: grid;
  place-items: center;
}

.search {
  width: 30vw;
  width: 30dvw;
  display: flex;
  flex-direction: column;
}

.column2 {
  overflow: scroll;
}

.card {
}
